@import "./bootstrap/functions";
@import "./bootstrap/variables";
@import "./bootstrap/mixins";

.nuxt-content > {
  .bd-example {
    background-color: white;
    border-radius: 5px 5px 0px 0px;
    border-width: 1px;
    padding: 2rem;
    margin-top: 15px;
    margin-bottom: 0px;
  }

  html {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 100px;
  }

  hr {
    margin: $hr-margin-y 0;
    color: $hr-color; // 1
    background-color: currentColor;
    border: 0;
    opacity: $hr-opacity;
  }

  hr:not([size]) {
    height: $hr-height; // 2
  }

  // Typography
  //
  // 1. Remove top margins from headings
  //    By default, `<h1>`-`<h6>` all receive top and bottom margins. We nuke the top
  //    margin for easier control within type scales as it avoids margin collapsing.

  %heading {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: $headings-font-family;
    font-style: $headings-font-style;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    color: #212529;
  }

  h1 {
    @extend %heading;
    @include font-size($h1-font-size);
    margin-top: 25px;
  }

  h2 {
    @extend %heading;
    @include font-size($h2-font-size);
  }

  h3 {
    @extend %heading;
    @include font-size($h3-font-size);
  }

  h4 {
    @extend %heading;
    @include font-size($h4-font-size);
  }

  h5 {
    @extend %heading;
    @include font-size($h5-font-size);
  }

  h6 {
    @extend %heading;
    @include font-size($h6-font-size);
  }

  // Reset margins on paragraphs
  //
  // Similarly, the top margin on `<p>`s get reset. However, we also reset the
  // bottom margin to use `rem` units instead of `em`.

  p {
    margin-top: 0;
    margin-bottom: $paragraph-margin-bottom;
  }

  // Lists

  ol,
  ul {
    padding-left: 2rem;
  }

  ol,
  ul,
  dl {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  ol ol,
  ul ul,
  ol ul,
  ul ol {
    margin-bottom: 0;
  }

  // Blockquote

  // Strong
  //
  // Add the correct font weight in Chrome, Edge, and Safari

  b,
  strong {
    font-weight: $font-weight-bolder;
  }

  // Small
  //
  // Add the correct font size in all browsers

  small {
    @include font-size($small-font-size);
  }

  pre[class*="language-"] {
    margin-top: 0px;
    border-radius: 0 0 0.5rem 0.5rem;
  }

  .nuxt-content-highlight > {
    pre[class*="language-"] {
      margin-top: 0px;
      border-radius: 0 0 0.5rem 0.5rem;
    }
  } 
}
