<html>

<head>
    <link rel="stylesheet" href="/css/tailboots.css">
    <link rel="stylesheet" href="/css/markdown.css">
</head>

<body class="p-4">
    <div>
        <%- post %>
    </div>
</body>

</html>