.dark-mode .light-img {
  display: none;
}
.dark-mode .dark-img {
  display: block;
}
.dark-img {
  display: none;
}
.light-img {
  display: block;
}

.nuxt-content {
  & .nuxt-content-highlight {
    @apply relative;

    /* Style filename span added by @nuxt/content */
    & > .filename {
      @apply absolute top-0 right-0 z-10 mt-3 mr-4 font-mono text-sm leading-none tracking-tight text-gray-100;
    }

    /* Add top padding to code blocks with filename */
    & > .filename + pre[class*="language-"] {
      @apply pt-8;
    }

    /* Style copy button added in `pages/_.vue` */
    & > .copy {
      @apply absolute bottom-0 right-0 hidden px-2 py-2 mb-3 mr-3 text-sm font-semibold leading-none text-white uppercase bg-gray-800 border border-white rounded-md shadow-lg;

      &:hover {
        @apply bg-gray-700;
      }

      &:focus {
        @apply bg-gray-600 outline-none;
      }
    }
    &:hover {
      & > .copy {
        @apply block;
      }
    }
  }
} 
